<div class="content-box">
  <%= render "home/header" %>
  <div class="col-md-10 col-md-offset-1">
    <h2><%=city%></h2>
    <p>
      <h3>NPR Stories</h3>
      <% @npr_data.each do |story| %>
        <% story_array = parse_npr_story(story) %>
        <article class="story-article">
          <div class="story-title">
            <%= link_to story_array[0], story_array[1], target: "_blank"  %>
          </div>
          <div class="story-image">
            <%= image_tag(story_array[2], alt: story_array[3]) %>
          </div>
          <div class="story-caption">
            <%= story_array[3] %>
          </div>
          <div class="story-teaser">
            <%= story_array[4] %>
          </div>
          <div class="story-date">
            <%= story_array[5] %>
          </div>
        </article>
      <% end %>
    </p>
    <p>
      <h3>New York Times Stories</h3>
      <% @nyt_data.each do |story| %>
        <% story_array = parse_nyt_story(story) %>
        <article class="story-article">
          <div class="story-title">
            <%= link_to story_array[0], story_array[1], target: "_blank"  %>
          </div>
          <div class="story-image">
            <%= image_tag(story_array[2]) %>
          </div>
          <div class="story-teaser">
            <%= story_array[3] %>
          </div>
          <div class="story-date">
            <%= story_array[4] %>
          </div>
        </article>
      <% end %>
    </p>
  </div>
</div>
